DATABASE_CONNECTION_HOST=localhost
DBNAME=reposcanner
DATABASE_CONNECTION_PORT=5432
DATABASE_CONNECTION_USERNAME=reposcanner
DATABASE_CONNECTION_PASSWORD=reposcanner
DATABASE_MIGRATION_ENABLED=1
DATABASE_SEED_ENABLED=1
DATABSE_MIGRATION_TABLE_NAME=migrations
DATABASE_MIGRATION_DIR='./migrations'
DATABASE_SEED_DIR='./seeds'

// ZEROMQ URL
ZEROMQ_URL=localhost
ZEROMQ_PORT=9812