DB_HOST=localhost
DB_NAME=reposcanner
DB_PORT=5432
DB_USERNAME=reposcanner
DB_PASSWORD=reposcanner


ZEROMQ_SCAN_SERVICE_PUB_URL='localhost:5555'
ZEROMQ_SCAN_SERVICE_SUB_URL='localhost:5556'
ZEROMQ_EMAIL_SERVICE_PUB_URL='localhost:5557'


JWT_DEV_SECRET='XTJdcXH$.hWf_}Ci/89'
JWT_PROD_SECRET='c#@6*Rxx$FcFCR7oW.X#'


PORT=3000
HOST=localhost