// DATABASE CONNECTION
DB_HOST=localhost
DB_NAME=reposcanner
DB_PORT=5432
DB_USERNAME=reposcanner
DB_PASSWORD=reposcanner

// ZEROMQ CONFIG
ZEROMQ_HOST=localhost
ZEROMQ_PORT=9812


// JWT
JWT_DEV_SECRET='XTJdcXH$.hWf_}Ci/89'
JWT_PROD_SECRET='c#@6*Rxx$FcFCR7oW.X#'

// REDIS URL
REDIS_URL='localhost:6379'